* {
  font-family: 'Source Code Pro', 'JetBrains Mono', serif;
  font-size: 22px;
}

html {
  background-color: #181818;
  color: white;
  margin: 0;
  height: 100%;
}

input {
  border: 1px solid white;
  background-color: #1d1f2a;
  color: white;
  width: 30%
}


#sectionPage {
  height: 65%;
}

body {
  margin: 0;
  height: 100%;
}

#terminal {
  overflow: scroll;
  background-color: #1d1f2a;
  height: 35%;
}

.cmd {
  display: flex;
  align-items: center;
}
